.tooltip {
    pointer-events: none;
    position:absolute;
    padding: 3px;
    background: rgba(0,0,0,0.8);
    z-index: 100;
    color: white;
}

.tooltip .model {
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.tooltip .value {
    font-weight: bold;
    color: white;
}
