.off {
    background: gray;
}
.on {
    background: green;
}

.true {
    background: green;
}

.false {
    background: gray;
}

.overlay {
    font-size: 30pt;
    position: absolute;
    z-index: 100;
}
